<!DOCTYPE html>
<html ng-app="particleApp">

<head>
    <title>Lucid Particle Design</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- Angular -->
    <script src="lib/angular-1.5/angular.min.js" type="text/javascript"></script>
    <script src="lib/angular-1.5/angular-animate.min.js" type="text/javascript"></script>
    <script src="lib/angular-1.5/angular-route.min.js" type="text/javascript"></script>
    <!-- Lucid Components -->
    <script src="components/4.0/components-min.js" type="text/javascript"></script>
    <link href="components/4.0/components.css" type="text/css" rel="stylesheet" />
    <!-- Other Libs -->
    <script src="lib/Sortable.min.js" type="text/javascript"></script>
    <script src="lib/ng-sortable.js" type="text/javascript"></script>
    <script src="lib/svg-morpheus.js" type="text/javascript"></script>
    <script src="lib/ngDraggable.js" type="text/javascript"></script>
    <script src="lib/angular-drag-and-drop-lists.min.js" type="text/javascript"></script>
    <!-- this is for highlighting code -->
    <link rel="stylesheet" href="lib/angular-highlight/github.min.css">
    <script src="lib/angular-highlight/highlight.min.js"></script>
    <script src="lib/angular-highlight/angular-highlightjs.min.js"></script>
    <!-- end highlight code -->
    <!-- Main Styles -->
    <link href="css/style.css?version=1" type="text/css" rel="stylesheet" />
    <!-- Loading Angular components and js -->
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/component-data.js" type="text/javascript"></script>
    <script src="js/production-data.js" type="text/javascript"></script>
    <script src="js/icon-data.js"></script>
    <script src="js/color-data.js"></script>
    <script src="js/snippets-data.js"></script>
</head>

<body ng-controller="mainController" class="landing-page" landing-page="isActive('/','overview')">
    <!-- TOP NAVIGATION -->
    <nav id="top-navigation">
        <div id="logo">
            <a href="#/overview">
                <ng-include src="'img/lucid-particle-logo.svg'"></ng-include>
            </a>
        </div>
        <ul>
            <li><a href="#/overview" ng-class="{ 'active': isActive('/','overview') }">WELCOME</a></li>
            <li><a href="#/codepen" ng-class="{ 'active': !isActive('/','overview') }">CODE</a></li>
        </ul>
    </nav>
    <!-- STATIC SIDEBAR -->
    <section id="sidebar">
        <div class="sidebar-scroll">
            <ul class="reversed-text">
                <li class="list-header">
                    <ng-include class="lucid-icon-22" src="'components/4.0/icons/svg/icon-compass-22px.svg'"></ng-include> Getting Started
                </li>
                <li><a href="#/angular" ng-class="{ 'active': isActive('/','angular') }">Angular for Designers</a></li>
                <li><a href="#/codepen" ng-class="{ 'active': isActive('/','codepen') }">Starting in Codepen</a></li>
                <!-- <li><a href="#/how-to" ng-class="{ 'active': isActive('/','how-to') }">Start with Prototype</a></li> -->
            </ul>
            <div class="sidebar-divider"></div>
            <ul class="reversed-text">
                <li class="list-header">
                    <ng-include class="lucid-icon-22" src="'components/4.0/icons/svg/icon-compass-22px.svg'"></ng-include> Building Prototypes
                </li>
                <li>
                    <a href="#/icons" ng-class="{ 'active': isActive('/icons', '') }">Icons</a>
                </li>
                <li ng-repeat="componentGroup in componentGroups">
                    <a href="#/components/{{componentGroup.groupid}}" ng-class="{ 'active': isActive('/components/', componentGroup.groupid) }">{{componentGroup.groupname}}</a>
                </li>
            </ul>
            <div class="sidebar-divider"></div>
            <ul class="reversed-text">
                <li class="list-header">
                    <ng-include class="lucid-icon-22" src="'components/4.0/icons/svg/icon-finger-22px.svg'"></ng-include> Latest Prototypes
                </li>
                <li ng-repeat="prototype in prototypes">
                    <div class="prototype-links">
                        <span><a class="view-prototype" href="{{prototype.url}}/index.html" target="_blank">
                        {{prototype.title}}
                    </a></span>
                        <a class="download-prototype" href="{{prototype.url}}.zip" download="{{prototype.url}}.zip">
                            <ng-include src="'components/4.0/icons/svg/icon-download-22px.svg'"></ng-include>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="sidebar-divider"></div>
            <ul class="reversed-text">
                <li class="list-header">
                    <ng-include class="lucid-icon-22 production" src="'components/4.0/icons/svg/icon-html-22px.svg'"></ng-include> Production
                </li>
                <li>
                    <a href="#/production/" ng-class="{ 'active': isActive('/production', '') }">Production Code</a>
                </li>
                <li>
                    <a href="#/colors/" ng-class="{ 'active': isActive('/colors', '') }">Colors</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <section id="content">
        <div ng-view class="view"></div>
    </section>
</body>

</html>