<lucid-buttcon-popover class="popover-list" showpopover="dropdown.show" icon="https://corysmc.github.io/particle-2/components/4.0/icons/svg/icon-image-22px.svg" width="125" tooltip="Dropdown Option" position="bottom" popover="{{dropdown.show}}">
    <ul ng-click="dropdown.show = false;">
        <li>
            Image
        </li>
        <li>
            SVG
        </li>
        <li tooltip="Import Visio" position="right">
            Visio Stencil
        </li>
    </ul>
</lucid-buttcon-popover>
<button class="lucid-button lucid-blue" tooltip="Tooltip 1" hotkey="⌘T 1" position="up">
    Up
</button>
<button class="lucid-button lucid-blue" tooltip="Tooltip 2" hotkey="⌘T 2" position="right">
    Right
</button>
<button class="lucid-button lucid-blue" tooltip="Tooltip 3" hotkey="⌘T 3" position="bottom">
    Bottom
</button>
<button class="lucid-button lucid-blue" tooltip="Tooltip 4" hotkey="⌘T 4" position="left">
    Left
</button>