<lucid-buttcon-popover icon="http://particle.golucid.co/components/4.0/icons/svg/icon-person-22px.svg" width="200">
    <div style="padding:10px">Content Here</div>
    <lucid-more-drawer height="36">
        More Content Hidden Here
    </lucid-more-drawer>
</lucid-buttcon-popover>
<lucid-buttcon-popover class="popover-list" showpopover="dropdown.show" icon="http://particle.golucid.co/components/1.2/icon/icons/icon-image-22px.svg" width="125">
        <ul ng-click="dropdown.show = false;">
            <li>
                Image
            </li>
            <li>
                SVG
            </li>
            <li>
                Visio Stencil
            </li>
        </ul>
</lucid-buttcon-popover>