<!-- Angular -->
<script src="https://corysmc.github.io/particle-2/lib/angular-1.5/angular.min.js" type="text/javascript"></script>
<script src="https://corysmc.github.io/particle-2/lib/angular-1.5/angular-animate.min.js" type="text/javascript"></script>
<!-- Lucid Components -->
<script src="https://corysmc.github.io/particle-2/components/4.0/components-min.js" type="text/javascript"></script>
<link href="https://corysmc.github.io/particle-2/components/4.0/components.css" type="text/css" rel="stylesheet" />