<div class="lucid-select-wrapper" click-outside="showdropdown = false">
    <div class="selected-option-wrapper" ng-click="showdropdown = !showdropdown">
        <ng-include class="dropdown-arrow" src="'https://corysmc.github.io/particle-2/components/4.0/icons/svg/icon-triangle-down-18px.svg'"></ng-include>
        <span style="width: {{width}}px" class="lucid-selected-option">{{selectedOption}}</span>
    </div>
    <div class="input-label" ng-if="label">
        <span>{{label}}</span>
    </div>
    <div class="lucid-select-dropdown ng-hide" ng-show="showdropdown">
        <div>
            <ul>
                <li ng-class="{active: option == selectedOption}" ng-repeat="option in options" ng-click="$parent.selectedOption = option; $parent.showdropdown = false;">
                    <ng-include class="selected-checkmark" src="'https://corysmc.github.io/particle-2/components/4.0/icons/svg/icon-check-18px.svg'" ng-if="option == selectedOption"></ng-include>{{option}}
                </li>
            </ul>
        </div>
    </div>
</div>