<div class="lucid-collapse-bar">
    <div class="collapse-bar-top" ng-click="closed = !closed">
        <div class="lucid-hide-content-icon" ng-class="{ 'lucid-hide-content': closed}">
            <ng-include src="'https://corysmc.github.io/particle-2/components/4.0/icons/svg/icon-triangle-down-18px.svg'"></ng-include>
        </div>
        <span class="collapse-bar-name">{{title}}</span>
    </div>
    <div class="lucid-collapse-bar-content lucid-animate" ng-hide="closed">
        <ng-transclude>
        </ng-transclude>
    </div>
</div>