<div class="lucid-input-wrapper search-wrapper condensed" style="max-width: {{width}}px">
    <input type="text" class="lucid-input" ng-model="value" placeholder="{{placeholder}}">
    <div class="search-icon" ng-click="value = ''" ng-class="{searching: value}">
        <ng-include class="empty-search" src="'http://particle.golucid.co/components/3.0/icon/icons/icon-search-18px.svg'"></ng-include>
        <ng-include class="search-x" src="'http://particle.golucid.co/components/3.0/icon/icons/icon-x-18px.svg'"></ng-include>
    </div>
    <div class="input-label" ng-if="label">
        <span>{{label}}</span>
    </div>
</div>