<lucid-button-dropdown side="right" text="Button" color="lucid-blue">
    <ul>
        <li>Option One</li>
        <li>Option Two</li>
    </ul>
</lucid-button-dropdown>
<lucid-button-dropdown text="Button" color="blue-steel-2">
    <ul>
        <li>Option One</li>
        <li>Option Two</li>
    </ul>
</lucid-button-dropdown>
<lucid-button-dropdown text="Button" color="info-red">
    <ul>
        <li>Option One</li>
        <li>Option Two</li>
    </ul>
</lucid-button-dropdown>
<lucid-button-dropdown text="Button" color="grey-5">
    <ul>
        <li>Option One</li>
        <li>Option Two</li>
    </ul>
</lucid-button-dropdown>
<lucid-button-dropdown text="Button" color="blue-steel">
    <ul>
        <li>Option One</li>
        <li>Option Two</li>
    </ul>
</lucid-button-dropdown>
<lucid-button-dropdown text="Button" color="info-green">
    <ul>
        <li>Option One</li>
        <li>Option Two</li>
    </ul>
</lucid-button-dropdown>
<lucid-button-dropdown text="Button" color="lucidchart-orange">
    <ul>
        <li>Option One</li>
        <li>Option Two</li>
    </ul>
</lucid-button-dropdown>
<lucid-button-dropdown text="Button" color="info-purple">
    <ul>
        <li>Option One</li>
        <li>Option Two</li>
    </ul>
</lucid-button-dropdown>