<span class="edit-in-place-wrapper">
	<span click-outside="edit=false">
	<span class="edit-in-place" 
		  ng-show="!edit" 
		  ng-click="click($event)"
		  ng-dblclick="dblClick(); $event.stopPropagation();">{{editableText}}</span>
	<input class="edit-in-place edit-in-place-input" 
		   ng-model="editableText" 
		   ng-show="edit" 
		   press-key="edit=false"
		   key="13"
		   placeholder="{{placeholder}}"
		   ng-dblclick="selectInput(); $event.stopPropagation();"
		   pu-elastic-input>
		</span>
</span>