<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-arrow-22px.svg" label="next"></lucid-buttcon>

<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-gear-22px.svg" label="Settings"></lucid-buttcon>

<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-link-22px.svg" label="Text"></lucid-buttcon>

<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-link-22px.svg" label="Text" active="{{button.active}}" ng-click="button.active = !button.active"></lucid-buttcon>

<lucid-buttcon icon="http://particle.golucid.co/components/4.0/icons/svg/icon-link-22px.svg" label="Text" badge="2" active="true"></lucid-buttcon>