
<lucid-button text="Button" icon="components/4.0/icons/svg/icon-plus-18px.svg" color="blue-steel-2"></lucid-button>
<lucid-button text="Button" icon="components/4.0/icons/svg/icon-plus-18px.svg" color="lucid-blue"></lucid-button>
<lucid-button text="Button" icon="components/4.0/icons/svg/icon-plus-18px.svg" color="info-red"></lucid-button>
<lucid-button text="Button" icon="components/4.0/icons/svg/icon-plus-18px.svg" color="grey-5"></lucid-button>
<lucid-button text="Button" icon="components/4.0/icons/svg/icon-plus-18px.svg" color="blue-steel"></lucid-button>
<lucid-button text="Button" icon="components/4.0/icons/svg/icon-plus-18px.svg" color="info-green"></lucid-button>
<lucid-button text="Button" icon="components/4.0/icons/svg/icon-plus-18px.svg" color="lucidchart-orange"></lucid-button>
<lucid-button text="Button" icon="components/4.0/icons/svg/icon-plus-18px.svg" color="info-purple"></lucid-button>