<lucid-button text="Button" color="blue-steel-2"></lucid-button>
<lucid-button text="Button" color="lucid-blue"></lucid-button>
<lucid-button text="Button" color="info-red"></lucid-button>
<lucid-button text="Button" color="grey-5"></lucid-button>
<lucid-button text="Button" color="blue-steel"></lucid-button>
<lucid-button text="Button" color="info-green"></lucid-button>
<lucid-button text="Button" color="lucidchart-orange"></lucid-button>
<lucid-button text="Button" color="info-purple"></lucid-button>